# Greenfoot specific
*.class
*.ctxt
*.bluej
doc/
standalone.properties
package.bluej
project.greenfoot~

# Backup files
*~
*.bak
*.tmp

# MacOS
.DS_Store

# Windows
Thumbs.db

# IDE
.idea/
*.iml
.vscode/
